<div class="attytalkitems">
    <div align="center">
        <div class="item1">
            <a href="brands/#"> <!-- this link will be fixed later -->
                <h1 class="display-3">[insert blog title]</h1>
                <h1 class="display-4">[insert name of writer]</h1>
                <div class="subtitle_button">
                </div>
             </a>
        </div>
         <div class="jumbotron2">
              <a href="atty_talk/blog">
                  <h1 class="lead">[insert blog post title]</h1>
                  <div class="subtitle_button">
                    <h1 class="my-4">[insert name of author]</h1>
                  </div>
              </a>
        </div>
        <div class="jumbotron3">
              <a href="atty_talk/blog">
                <h1 class="lead">[insert blog post title]</h1>
                <div class="subtitle_button">
                <h1 class="my-4">[insert name of author]</h1>
                </div>
              </a>
        </div>
        <div class="jumbotron4">
          <a href="atty_talk/blog">
          <h1 class="lead">[insert blog post title]</h1>
          <div class="subtitle_button">
            <h1 class="my-4">[insert name of author]</h1>
          </div>
          </a>
        </div>
    </div>
</div>