<div class="items_shop">
    
    <div class="item1">
        <a href="shop/item"> <!-- this link will be fixed later -->
            <h1 class="display-3">[title of item]</h1>
            <h1 class="display-4">[price of item]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item2">
        <a href="shop/item">
            <h1 class="display-3">[title of item]</h1>
            <h1 class="display-4">[price of item]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item3">
        <a href="shop/item">
            <h1 class="display-3">[title of item]</h1>
            <h1 class="display-4">[price of item]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item4">
        <a href="shop/item">
            <h1 class="display-3">[title of item]</h1>
            <h1 class="display-4">[price of item]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item5">
        <a href="shop/item">
            <h1 class="display-3">[title of item]</h1>
            <h1 class="display-4">[price of item]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item6">
        <a href="shop/item">
            <h1 class="display-3">[title of item]</h1>
            <h1 class="display-4">[price of item]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
</div>