<div id="mySidenav" class="sidenav">
    <a href="/shop/shop">Shop All</a><br />
    <a href="/shop/men">Shop Mens</a><br />
    <a href="/shop/women">Shop Womens</a><br />
    <a href="/shop/brand">Shop Brands</a><br />
</div>
