def header
    
    <a href="/about/about">About</a> <a href="/atty_talk/blog">Atty Talk</a> <a href="/sell/sell">Sell</a> | <a href="/wishlist/wishlist">Wishlist</a> <a href="/bag/bag">Bag</a> <a href="/account/account">Account</a>
    <br />
    <%= link_to "Atty Studios", root_path %>
    <br />
    <%= link_to "Home", root_path %> <a href="/shop/shop">Shop</a> <a href="/explore/explore">Explore</a> <a href="/brands/brands">Brands</a>

end 