<br />
<div align="center">
    <div class="jumbotron">

          <a href="atty_talk/blog">

          <h1 class="display-3">Atty Talk</h1>
          <h1 class="lead">[insert blog post title]</h1>
          <div class="subtitle_button">
            <h1 class="my-4">[insert blog post sub-title]</h1>
            
          </div>
          </a>
    </div>
  <div class="subjumbotrons">
     <div class="jumbotron2">
          <a href="atty_talk/blog">

          <h1 class="display-3">Atty Talk</h1>
          <h1 class="lead">[insert blog post title]</h1>
          <div class="subtitle_button">
            <h1 class="my-4">[insert blog post sub-title]</h1>
            
          </div>
          </a>
    </div>
    <div class="jumbotron3">

          <a href="atty_talk/blog">

          <h1 class="display-3">Atty Talk</h1>
          <h1 class="lead">[insert blog post title]</h1>
          <div class="subtitle_button">
            <h1 class="my-4">[insert blog post sub-title]</h1>
            
          </div>
          </a>
    </div>
    <div class="jumbotron4">

          <a href="atty_talk/blog">

          <h1 class="display-3">Atty Talk</h1>
          <h1 class="lead">[insert blog post title]</h1>
          <div class="subtitle_button">
            <h1 class="my-4">[insert blog post sub-title]</h1>
            
          </div>
          </a>
    </div>
  </div>
   
   <div class="shopmenjumbo">
     <a href="shop/shop">
        <h1 class="display-3">SHOP MEN</h1>
        <div class="subtitle_button">
        </div>
      </a>
   </div>
   
   <div class="shopwomenjumbo">
     <a href="shop/shop">
        <h1 class="display-3">SHOP WOMEN</h1>
        <div class="subtitle_button">
        </div>
      </a>
   </div>
   
   <div class="shopbrandjumbo">
     <a href="shop/shop">
        <h1 class="display-3">SHOP BY BRAND</h1>
        <div class="subtitle_button">
        </div>
      </a>
   </div>
</div>
