<br />
<div align="center">
    <div class="jumbotron">
          <h1 class="display-3">Atty Talk</h1>
          <p class="lead">[insert blog post title]</p>
          <hr class="my-4">
          <p>[insert blog post sub-title]</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="atty_talk/blog" role="button">read</a>
          </p>
    </div>
</div>
