<div class="items_shop">
    
    <div class="item1">
        <a href="brands/#"> <!-- this link will be fixed later -->
            <h1 class="display-3">[name of brand]</h1>
            <h1 class="display-4">[location]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item2">
        <a href="brands/#">
            <h1 class="display-3">[name of brand]</h1>
            <h1 class="display-4">[location]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item3">
        <a href="brands/#">
            <h1 class="display-3">[name of brand]</h1>
            <h1 class="display-4">[location]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item4">
        <a href="brands/#">
            <h1 class="display-3">[name of brand]</h1>
            <h1 class="display-4">[location]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item5">
        <a href="brands/#">
            <h1 class="display-3">[name of brand]</h1>
            <h1 class="display-4">[location]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item6">
        <a href="brands/#">
            <h1 class="display-3">[name of brand]</h1>
            <h1 class="display-4">[location]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
</div>