<div id="Brand_side_bar" class="brandsidebar">
    <a href="/brands/popular">Popular</a><br />
    <a href="/brands/alphabetical">Alphabetical</a><br />
    <a href="/brands/featured">Featured</a><br />
    <a href="/brands/location">Location</a><br />
</div>