
<div class="items_explore">
    <div align="center">
      <div class="item1">
        <a href="brands/#"> <!-- this link will be fixed later -->
            <h1 class="display-3">[insert title]</h1>
            <small>by</small>
            <h1 class="display-4">[insert brand name]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item2">
        <a href="brands/#">
            <h1 class="display-3">[insert title]</h1>
            <small>by</small>
            <h1 class="display-4">[insert brand name]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>
    
    <div class="item3">
        <a href="brands/#">
            <h1 class="display-3">[insert title]</h1>
            <small>by</small>
            <h1 class="display-4">[insert brand name]</h1>
            <div class="subtitle_button">
            </div>
         </a>
    </div>  
    </div>
    
    

</div>