<div align="bottom">
    <footer class="footer">
    <small id="footerRight">
        <a href="/recently_viewed/recently_viewed">Recently Viewed</a>
    </small>
    <div class="recently_viewed">
        <div class="recently_viewed1">
            <a href="recently_viewed/recently_viewed">
                <h1 class="display-3">[title of item]</h1>
                <h1 class="display-4">[price of item]</h1>
                <div class="subtitle_button">
                </div>
             </a>
        </div>
        <div class="recently_viewed2">
            <a href="recently_viewed/recently_viewed">
                <h1 class="display-3">[title of item]</h1>
                <h1 class="display-4">[price of item]</h1>
                <div class="subtitle_button">
                </div>
             </a>
        </div>
        <div class="recently_viewed3">
            <a href="recently_viewed/recently_viewed">
                <h1 class="display-3">[title of item]</h1>
                <h1 class="display-4">[price of item]</h1>
                <div class="subtitle_button">
                </div>
             </a>
        </div>
        <div class="recently_viewed4">
            <a href="recently_viewed/recently_viewed">
                <h1 class="display-3">[title of item]</h1>
                <h1 class="display-4">[price of item]</h1>
                <div class="subtitle_button">
                </div>
             </a>
        </div>
        <div class="recently_viewed5">
            <a href="recently_viewed/recently_viewed">
                <h1 class="display-3">[title of item]</h1>
                <h1 class="display-4">[price of item]</h1>
                <div class="subtitle_button">
                </div>
             </a>
        </div>
        <div class="recently_viewed6">
            <a href="recently_viewed/recently_viewed">
                <h1 class="display-3">[title of item]</h1>
                <h1 class="display-4">[price of item]</h1>
                <div class="subtitle_button">
                </div>
             </a>
        </div>
    </div>
      <ul id="footerLinks">
        <li><a href="/terms_conditions/terms_conditions">Terms & Conditions</a> <a href="/contact_us/contact_us">Contact Us</a></li>
      </ul>
    </footer>
</div>
