<div align="bottom">
    <footer class="footer">
    <small id="footerRight">
        <a href="/recently_viewed/recently_viewed">Recently Viewed</a>
    </small>
<br />
<br />
<br />
<br />
    <nav>
      <ul id="footerLinks">
        <li><a href="/terms_conditions/terms_conditions">Terms & Conditions</a> <a href="/contact_us/contact_us">Contact Us</a></li>
      </ul>
    </nav>
    </footer>
</div>
