<div id="header">
    <span class="align-top">
        <td vertical-align="middle">
            <div align="left">
                <a href="/about/about">About</a> <a href="/atty_talk/blog">Atty Talk</a> <a href="/sell/sell">Sell</a> 
            </div>
            <div align="right">
                <a href="/wishlist/wishlist">Wishlist</a> <a href="/bag/bag">Bag</a> <a href="/account/account">Account</a>
            </div>
        </td>        
    </span>

    
  
    <div align="center">
        <br />
        <%= link_to "Atty Studios", root_path %>
        <br />
        <br />
        <%= link_to "Home", root_path %> <a href="/shop/shop">Shop</a> <a href="/explore/explore">Explore</a> <a href="/brands/brands">Brands</a>
    </div>
</div>